@import "https://fonts.googleapis.com/css?family=Roboto:300,400,500,600,700";
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Roboto', sans-serif;
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}

h2{
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-size: 23px;
  line-height: 24px;
  color: #3f3d56;
  letter-spacing: -0.02em;
}

h3{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  color: #3b3b3b;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: transparent;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    /*box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);*/
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.bg-light{background-color:transparent !important;}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background-color: transparent;
    /*color: #fff;*/
    transition: all 0.3s;
    overflow-y: scroll;
}

#sidebarContents{
  position:relative;
  padding:0px;
  overflow-y: scroll;
}

#menuSection{
  overflow-y: scroll;
}

#sidebarFooter{
  position:fixed;
  bottom:0;
  height: 289px;
  width: 250px;
  /*background: transparent url("img/waves.png") no-repeat left bottom;*/
}
#footerContainer{
  position: relative;
  height: 289px;
  width: 250px;
}

#copyrightContainer {
  width:200px;
  display:block;
  margin: 166px auto 14px auto;
}
#copyrightContainer a{
 font: normal bold 14px "Poppins",sans-serif;
 line-height:28px;
 display:block;
}

#copyrightContainer p{
 font: normal normal 14px "Poppins",sans-serif;
 color:#656565;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: transparent;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid transparent;
}

#sidebar ul p {
    /*color: #fff;*/
    padding: 10px;
}

#sidebar ul li.menuSeparate {
  margin-top: 32px;
  margin-bottom: 32px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    margin: 7px 14px;
    border-radius:4px;
    border: 2px solid transparent;
}

#sidebar ul li a:hover {
    background: rgba(255,255,255,.9);
    border: 2px solid rgba(255,255,255,.92);
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    background: rgba(255,255,255,.9);
    border: 2px solid rgba(255,255,255,.92);
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

.sidegraphic{
  background: url("svg/trapezoid.svg") no-repeat right 100px;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}
@media (max-width: 1200px) {
    #pictureContainer{
      display: none;
    }
    #content{
      background-image:none;
    }
}

hr {
  border-top: 1px solid #d9c6ff;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
}

.recomendations{
  margin-top:80px;
}

.recommendations .row{
  margin-bottom:40px;
}

.reccomendationBox{
  margin-bottom: 60px;
  padding-right: 85px;
  word-break: break-word;
}
.reccomendationBox img{
  width: auto;
  max-width: 60px;
  height: auto;
  margin-top: 5px;
  margin-bottom: 15px;
  object-fit: cover;
  vertical-align: middle;
  border-style: none;
}
.reccomendationBox h4{
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
  color: #3B3B3B;
}
.reccomendationBox p{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #3B3B3B;
}
.whatsNext{
  margin-top:80px;
}
.sidebar-header img{
  display:block; 
  min-width:100px;
  max-width: 200px;
  min-height:50px;
  max-height:110px;
  margin:6px auto;
}

/*
.customSVG{
  visibility:hidden;
}
*/
.primarySVG{
  width:460px;
  float:right;
}

.primaryColorBG{
  background-color: #fff;
}

.primaryColorText{
  color: #fff;
}

.primaryColorBorder{
  border-color: #fff;
}

.table.newrecordings thead th{
  border-bottom-color: transparent;
}

.primaryColorBorderBottom{
  border-bottom-color: #fff;
}

.input-group>.custom-select:not(:last-child), .input-group>.form-control:not(:last-child){
  border-radius:.25em;
}

.table-btn{
  flex-basis: 88px;
  text-transform: capitalize;
  padding:5px 7px;
  font-size:12px;
  margin:3px 12px;
  align-self:flex-end;
}

button.btn.btn-primary{
  border: #fff;
}

.text-warning i{
  cursor: pointer;
}

.light{
 /* background-color: transparent; */
}

.primaryColorBorderLight{
  /*border-color: transparent;*/
}

.btnClear{
  cursor: pointer;
}

.formBranding label {width:100%;}
#brandingPreview{
  padding:16px;
}

input:disabled{
  cursor:not-allowed;
}