        <!-- Sidebar  -->
        <nav id="sidebar" class="primaryColorBG">
          <div id="sidebarContents">
            <div class="sidebar-header primaryColorBG">
              <img id="logo" src="svg/logo.svg" alt="Logo"/>
            </div>

            <ul class="list-unstyled components primaryColorBorder" id="menuSection">
                <li class="active">
                    <a href="index.html" id="uHome"><i class="far fa-user"></i> Meetings</a>
                </li>
                <li class="">
                  <a href="email.html" id="uEmail"><i class="far fa-envelope-open"></i> Email Sample</a>
                    <!--<a href="#" class=""><i class="far fa-calendar"></i> Events</a>-->
                </li>
                <li class="">
                    <a href="recordings.html" id="uRecordings" class=""><i class="far fa-play-circle"></i> Recordings</a>
                </li>
                <li class="">
                    <a href="#" class=""><i class="fas fa-chart-pie"></i> Reports</a>
                </li>
                <li class="">
                    <a href="#settingsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-cog"></i> Settings</a>
                    <ul class="collapse list-unstyled submenu" id="settingsSubmenu">
                        <li class="">
                            <a href="#">Setting 1</a>
                        </li>
                        <li class="">
                            <a href="#">Setting 2</a>
                        </li>
                    </ul>
                </li>
                <li class="menuSeparate">
                    <a href="#adminSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle"><i class="fas fa-user-shield"></i> Admin</a>
                    <ul class="collapse list-unstyled submenu" id="adminSubmenu">
                        <li class="">
                            <a href="#">Admin Page 1</a>
                        </li>
                        <li class="">
                            <a href="#">Admin Page 2</a>
                        </li>
                    </ul>
                </li>
            </ul>

            <div id="sidebarFooter" class="primaryColorBG">
              <img src="img/waves.png" id="footerImg" alt="footer" style="position:absolute; left:0; bottom:0;" />
              <div id="footerContainer">
                <div id="copyrightContainer" style="z-index:1000;">
                  <a href="https://www.intrado.com/terms-conditions-policy" class="primaryColorText">Terms &amp; Conditions</a>
                  <a href="https://www.west.com/legal-privacy/" class="primaryColorText">Privacy Policy</a>

                  <p>&copy; 2021 <span class="companyName">Intrado</span>.<br />
                  All Rights Reserved.
                  <p>
                </div>
              </div>
            </div>
          </div>
        </nav>